@import "../constants";

/*================================================
 * Padding
 */
@mixin padding ($size) {
    padding:map-get($whitespaceScale,$size);
}
@mixin padding-left ($size) {
    padding-left:map-get($whitespaceScale,$size);
}
@mixin padding-right ($size) {
    padding-right:map-get($whitespaceScale,$size);
}
@mixin padding-h ($size) {
    @include padding-left($size);
    @include padding-right($size);
}
@mixin padding-top ($size) {
    padding-top:map-get($whitespaceScale,$size);
}
@mixin padding-bottom ($size) {
    padding-bottom:map-get($whitespaceScale,$size);
}
@mixin padding-v ($size) {
    @include padding-top($size);
    @include padding-bottom($size);
}

/*================================================
 * Margin
 */
@mixin margin ($size) {
    margin:map-get($whitespaceScale,$size);
}
@mixin margin-left ($size) {
    margin-left:map-get($whitespaceScale,$size);
}
@mixin margin-right ($size) {
    margin-right:map-get($whitespaceScale,$size);
}
@mixin margin-h ($size) {
    @include margin-left($size);
    @include margin-right($size);
}
@mixin margin-top ($size) {
    margin-top:map-get($whitespaceScale,$size);
}
@mixin margin-bottom ($size) {
    margin-bottom:map-get($whitespaceScale,$size);
}
@mixin margin-v ($size) {
    @include margin-top($size);
    @include margin-bottom($size);
}