@import "../constants";
@import "../util/whitespace";
@import "../util/typography";
@import "../util/corners";

.chip {
    @include margin("xs");
    @include type("p2");
    @include corner("sm");
    
    display:inline-flex;
    align-items:center;
    background: $defaultColorLight;
    color: $defaultColorDark;
    border:0;

    & .chip__text {
        @include padding-h("xs");
        @include padding-v("xs");
    }

    & .button {
        @include padding("ss");
        @include margin("none");
    }
}

.chip--round {
    & .chip__text {
        @include padding-h("md");
        // TODO create padding-right left and more fine-grained
        // controls then fix the spacing on this component
    }

    @include corner("round");
}

