@import "../constants";
@import "../util/whitespace";
@import "../util/typography";
@import "../util/corners";

.snackbar {
    @include margin("xs");
    @include type("p2");
    @include corner("sm");

    display:inline-flex;
    align-items: center;
    background: $defaultColorDark;
    color: $defaultColorLight;
}
.snackbar--full-width {
    display:flex;
}
.snackbar--round {
    @include corner("round");
    // adding visual balance that doesn't snap to the scale
    // so will not use padding or margin mixin
    padding-left:3px;padding-right:3px;
    margin-left:7px;margin-right:7px;
}
.snackbar__text {
    @include margin-h("lg");
    @include margin-v("md");

    color: $defaultColorLight;
    flex:1;
}
.snackbar__actions {
    display:flex;
    flex-direction: row;
    align-items: center;
    @include padding-h("xs");

    & .button {
        @include margin("none");
        margin-left:0;
    }
}