@import "../constants";
@import "../util/whitespace";
@import "../util/typography";
@import "../util/corners";

// TODO figure out case of popping chips; 
// see demo page w/o display flex 
.chip {
    @include margin("ss");
    @include type("p2");
    @include corner("sm");
    @include padding-h("ss");

    display:inline-flex;
    align-items:center;
    background: $defaultColorLight;
    color: $defaultColorDark;
    border:0;

    & .chip__text {
        @include padding-h("ss");
        @include padding-v("xs");
    }

    & .button {
        @include padding("ss");
        @include margin("none");
    }
}

.chip--round {
    & .chip__text {
        @include padding-h("xs");
        // TODO create padding-right left and more fine-grained
        // controls then fix the spacing on this component
    }

    @include corner("round");
}

